{% extends "base_layout.html" %}

{% block title_block %}Tasks{% endblock %}
{% block content_block %}
{% block content %}

{% if current_user and current_user.is_authenticated %}
<div class="row">
    <div class="col">
        <a href="{{ url_for('bp_tasks.do_task') }}" class="btn btn-primary">
            <i class="bi bi-plus-circle-fill"></i> Add task
        </a>
    </div>
</div>
<div class="tinyspace"></div>
{% endif %}
<div class="container my-5">
    <h1 align="center">TO DO LIST</h1>
    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename='images/todolist.png') }}" class="img-fluid" width="50%" alt="Event Image">
    </div>

    {% for message in flash_messages %}
        <div class="alert alert-{{ message[1] }}" role="alert">
            {{ message[0] }}
        </div>
    {% endfor %}
    <div style="margin-top: 100px;">
        <form method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search task" id="searchInput" onkeyup="searchTable()">
                <button class="btn btn-outline-secondary" type="button" onclick="clearSearch()"><i class="bi bi-x"></i></button>
                </div>
                <table class="table" id="taskTable">
                    <thead>
                        <tr>
                            <th scope="col" onclick="sortTable(0)">
                                Task <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col" onclick="sortTable(1)">
                                Note <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col" onclick="sortTable(2)">
                                Date <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col" onclick="sortTable(3)">
                                Priority <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col" onclick="sortTable(4)">
                                Deadline <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col" onclick="sortTable(5)">
                                Status <i class="fas fa-sort"></i>
                            </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tasks">
                        {% for task in tasks %}
                            <tr>
                                <input type="hidden" name="task_ids[]" value="{{ task.id }}">
                                <td>{{ task.data }}</td>
                                <td>{{ task.note }}</td>
                                <td>{{ task.date.strftime('%d/%m/%Y') }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.deadline.strftime('%d/%m/%Y') if task.deadline else '-' }}</td>
                                <td>{{ task.status }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onClick="deleteTask({{ task.id }})">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    <a href="{{ url_for('bp_tasks.update_task', task_id=task.id) }}" class="btn btn-success">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" id="checked_task_ids" name="checked_task_ids">
            </form>
        </div>
    </div>
{% endblock %}

    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    </head>
    
    {% block javascript %}
    <script type="text/javascript">
        const checkedTaskIds = "{{ checked_task_ids }}".split(',');
    
        function deleteTask(taskId) {
            fetch("/delete-task", {
                method: "POST",
                body: JSON.stringify({ taskId: taskId }),
            }).then((_res) => {
                window.location.href = "/task-list";
            });
        }
    
        document.querySelector('form').addEventListener('submit', function(event) {
            const checkedCheckboxes = document.querySelectorAll('input[name="task_ids[]"]:checked');
            const checkedIds = Array.from(checkedCheckboxes).map((checkbox) => checkbox.value);
            document.querySelector('#checked_task_ids').value = checkedIds.join(',');
        });
    
        checkedTaskIds.forEach((taskId) => {
            const checkbox = document.querySelector(`input[value="${taskId}"]`);
            if (checkbox) {
                checkbox.checked = true;
            }
        });
    
       function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("taskTable");
                switching = true;
                dir = "asc";
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        switchcount++;
                    } else {
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
            
            function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("taskTable");
            tr = table.getElementsByTagName("tr");
    
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    
        function clearSearch() {
            var input = document.getElementById("searchInput");
            input.value = "";
            searchTable();
        }
        </script>
    {% endblock %}
    {% endblock %}
    
   
